extends: default

rules:
  line-length:
    max: 140
    level: warning
  document-start:
    present: false
  truthy:
    allowed-values: ['true', 'false', 'on', 'off']
  new-line-at-end-of-file:
    level: warning
  trailing-spaces:
    level: error
  new-lines:
    type: unix
    level: warning
